<form {{action 'editReminder' model on="submit"}}>
  <label>
    Title
    {{input class="spec-edit-input-title" value=model.title}}
  </label>
  <label>
    Date
    {{input class="spec-edit-input-date" value=model.date}}
  </label>
  <label>
    Notes
    {{textarea class="spec-edit-textarea-notes" value=model.notes}}
  </label>
  <button class='spec-reminder-edit--submit'>Submit</button>
</form>
