<h1>{{title}}</h1>

<ul>
  {{#each model as |reminder|}}
    <li class='spec-reminder-item'>
      {{#link-to "reminders.reminder-card" reminder}}
        <h3>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
