<h1>Reminders</h1>

{{#link-to "reminders.new-reminder"}}
  <button class='spec-reminder--new'>
    new
  </button>
{{/link-to}}

<ul>
  {{#if model}}
  {{#each model as |reminder|}}
    <li class='spec-reminder-item'>
      {{#link-to "reminders.reminder-card" reminder}}
        <h3 class='spec-reminder--title'>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  {{/each}}
  {{else}}
    <p>Create a new note, ya dingus!</p>
  {{/if}}
</ul>

{{outlet}}
