<h2 class="spec-reminder-card--title">{{model.title}}</h2>
<p class="spec-reminder-card--date">{{model.date}}</p>
<p>{{model.notes}}</p>
{{#link-to "reminders.reminder-card.edit"}}
  <button>edit</button>
{{/link-to}}
{{outlet}}
